<!-- Badges -->
<p class="badge badge-popular">Populær</p>
<p class="badge badge-top100">Top 100</p>
<p class="badge badge-eco">Økologisk</p>
<p class="badge badge-best">Bedst vurderet</p>
<p class="badge badge-new">Nyhed</p>
<p class="badge badge-newProduct">Nyt produkt</p>
<p class="badge badge-top10">Top 10</p>
<p class="badge badge-justAdded">Lige tilføjet</p>
<p class="badge badge-newVersion">Ny version</p>
<p class="badge badge-newTaste">Ny smag</p>
<p class="badge badge-newPackaging">Ny emballage</p>
<!-- Badges -->