<!-- Badges -->
<p class="badge badge-popular">Populær</p>
<p class="badge badge-top100">Top 100</p>
<p class="badge badge-eco">Økologisk</p>
<p class="badge badge-best">Bedst vurderet</p>
<p class="badge badge-new">Nyhed</p>
<p class="badge badge-newProduct">Nyt produkt</p>
<p class="badge badge-top10">Top 10</p>
<p class="badge badge-justAdded">Lige tilføjet</p>
<p class="badge badge-newVersion">Ny version</p>
<p class="badge badge-newTaste">Ny smag</p>
<p class="badge badge-newPackaging">Ny emballage</p>
<p class="badge badge-top10Category">Top 10 i kategori</p>
<!-- Badges -->

<!-- User Reviews Section -->
<section class="section-user-review">

    <div class="guac-container">

        <div class="review-info guac-text-center guac-align-center">
            <p>Et lille udvalg</p>
            <h2>Seneste anmeldte produkter</h2>
            <p>Tryk og læs mere!</p>
        </div>

        <div class="guac-grid-3 guac-gap-4">

            <!-- Card One -->
<div class="guac-card">
    <img src="/images/products/test1.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐⭐⭐</p>
    </div>
</div>

<!-- Card Two -->
<div class="guac-card">
    <img src="/images/products/test2.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐⭐⭐⭐</p>
    </div>
</div>

<!-- Card Three -->
<div class="guac-card">
    <img src="/images/products/test3.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐</p>
    </div>
</div>

<!-- Card Four -->
<div class="guac-card">
    <img src="/images/products/test4.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐⭐</p>
    </div>
</div>

<!-- Card Five -->
<div class="guac-card">
    <img src="/images/products/test5.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐⭐</p>
    </div>
</div>

<!-- Card Six -->
<div class="guac-card">
    <img src="/images/products/test6.png" alt="Produkt 1">

    <!-- Left info box -->
    <div class="card-info-left">
        <p class="product-title">Produkt Titel</p>
        <p class="product-category">Kategori</p>
    </div>

    <!-- Right info box -->
    <div class="card-info-right">
        <p class="product-rating">⭐⭐⭐⭐⭐</p>
    </div>
</div>

</div>
</div>
</section>
<!-- User Reviews Section -->