<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Consumr - slogan her</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/logo-256-white.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/logo-256-white.png">

    <!-- Framework Load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Script Load-->
    <script src="/js/notification.js" defer></script>
    <script src="/js/circle-movement.js" defer></script>
    <script src="/js/guacamoleboy-dropdown.js" defer></script>
    <script src="/js/circle-movement.js" defer></script>

    <!-- Modules -->
    <script type="module" src="/js/components/header.js" defer></script>

</head>
<body>

<!-- Header Load -->
<div id="header-component"></div>
<!-- Header Load -->

<!-- Hero Section -->
<section class="section-hero">
    <div class="guac-container guac-text-center">
        <img src="/images/logo/logo-256-white.png" class="logo-small" alt="WebBuddy Logo">
        <p class="guac-fw-bold">
            FIND ANMELDELSER FOR ALLE PRODUKTER - HELT GRATIS
        </p>
        <h1>
            Smag, mærk, vurder – <span>del din oplevelse.</span>
        </h1>
        <div class="input-group">
            <input type="text" id="consumr-search-index" placeholder="Søg efter produkt...">
            <button class="btn-send">Scan <i class="fa fa-barcode"></i></button>
            <button class="btn-send">Søg <i class="fa fa-search"></i></button>
        </div>
        <div class="integration-buttons">
            <button class="integration-btn">
                <i class="fa fa-star"></i>
                <span>Ægte anmeldelser</span>
            </button>

            <button class="integration-btn">
                <i class="fa fa-barcode"></i>
                <span>Søg produkter</span>
            </button>

            <button class="integration-btn">
                <i class="fa fa-globe"></i>
                <span>Alle produkter</span>
            </button>

            <button class="integration-btn">
                <i class="fa fa-users"></i>
                <span>Din mening gælder</span>
            </button>

        </div>

    </div>

</section>
<!-- Hero Section -->

<!-- Wave Section -->
<section class="wave-transition-top-to-bottom">
    <img src="/images/svg/waves/wave_1_hero.svg" class="wave-svg">
</section>
<!-- Wave Section -->

<!-- User Reviews Section -->
<section class="section-user-review">

    <div class="guac-container">

        <div class="review-info guac-text-center guac-align-center">
            <p>Et lille udvalg</p>
            <h2>Seneste anmeldte produkter</h2>
            <p>Tryk og læs mere!</p>
        </div>

        <div class="guac-grid-3 guac-gap-4">

            <!-- Card One -->
            <div class="guac-card">
                <img src="/images/products/test1.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐⭐⭐</p>
                </div>
            </div>

            <!-- Card Two -->
            <div class="guac-card">
                <img src="/images/products/test2.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐⭐⭐⭐</p>
                </div>
            </div>

            <!-- Card Three -->
            <div class="guac-card">
                <img src="/images/products/test3.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐</p>
                </div>
            </div>

            <!-- Card Four -->
            <div class="guac-card">
                <img src="/images/products/test4.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐⭐</p>
                </div>
            </div>

            <!-- Card Five -->
            <div class="guac-card">
                <img src="/images/products/test5.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐⭐</p>
                </div>
            </div>

            <!-- Card Six -->
            <div class="guac-card">
                <img src="/images/products/test6.png" alt="Produkt 1">

                <!-- Left info box -->
                <div class="card-info-left">
                    <p class="product-title">Produkt Titel</p>
                    <p class="product-category">Kategori</p>
                </div>

                <!-- Right info box -->
                <div class="card-info-right">
                    <p class="product-rating">⭐⭐⭐⭐⭐</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- User Reviews Section -->

<!-- How it works Section -->
<section class="section-why-us">
    <div class="guac-container">
        <div class="guac-row">

        </div>
    </div>
</section>
<!-- How it works Section -->

<!-- Popular Categories Section -->
<section class="section-popular-cat">
    <div class="guac-container">
        <div class="guac-row">

        </div>
    </div>
</section>
<!-- Popular Categories Section -->

<!-- Why us Section -->
<section class="section-why-us">
    <div class="guac-container">
        <div class="guac-row">

        </div>
    </div>
</section>
<!-- Why us Section -->

<!-- Recent Consumr Reviews Section -->
<section class="section-recent-reviews-us">
    <div class="guac-container">
        <div class="guac-row">

        </div>
    </div>
</section>
<!-- Recent Consumr Reviews Section -->

<!-- Create account Section -->
<section class="section-create-account">
    <div class="guac-container">
        <div class="guac-row">

        </div>
    </div>
</section>
<!-- Create account Section -->

<!-- Footer -->
<footer>

</footer>
<!-- Footer -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>