<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Consumr - PRODUKT NAVN</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/logo-256-white.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/logo-256-white.png">

    <!-- Framework Load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Script Load-->
    <script src="/js/notification.js" defer></script>
    <script src="/js/auth/pathing-redirect.js" defer></script>
    <script src="/js/circle-movement.js" defer></script>
    <script src="/js/guacamoleboy-dropdown.js" defer></script>
    <script src="/js/review/rating-load.js" defer></script>

    <!-- Modules -->
    <script type="module" src="/js/components/header.js" defer></script>

</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <img src="/images/logo/preloader-2.png" alt="Preloader Logo" class="consumr-logo-preloader">
</div>
<!-- Preloader -->

<!-- Header Load -->
<div id="header-component"></div>
<!-- Header Load -->

<!-- Product Review Section -->
<section class="section-product-review">

    <!-- Left -->
    <div class="product-review-left">
        <img src="/images/products/5060337502900.png" class="product-review-main">

        <div class="more-photos-preview">
            <img src="/images/products/5060337502900.png" class="more-photos-img">
            <img src="/images/products/5060337502900.png" class="more-photos-img">
            <img src="/images/products/5060337502900.png" class="more-photos-img">
        </div>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="product-review-right">

        <div class="product-info">

            <!-- Product Specific Information -->
            <p class="category">Drikkevarer / Energidrik</p>
            <h2 class="product-title">Monster Energy Original</h2>
            <p class="description">Her er noget tekst om produktet min ven. Kan du lide den. Kan du ikke? Aner ikke hvad jeg skal skrive her endnu. Thoughts?</p>
            <!-- Product Specific Information -->

            <!-- Badges -->
            <p class="badge badge-justAdded">Lige tilføjet</p>
            <!-- Badges -->

            <!-- Rating -->
            <div class="ratings">
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Smag</span>
                        <span class="rating-value">2.3 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="2.3"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Ville købe igen</span>
                        <span class="rating-value">4.7 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="4.7"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Pris</span>
                        <span class="rating-value">1.7 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="1.7"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Emballage</span>
                        <span class="rating-value">3.4 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="3.4"></div>
                    </div>
                </div>
            </div>
            <!-- Rating -->

            <!-- Total Reviews -->
            <p class="total-reviews"><i class="fa fa-user-o"></i> 37 anmeldelser</p>
            <div class="button-wrapper-product">
                <button class="btn-review">Skriv din anmeldelse</button>
            </div>
            <!-- Total Reviews -->

            <!-- Divider -->
            <div class="section-divider"></div>
            <!-- Divider -->

            <!-- Comment Section -->
            <div class="comment-section">

                <!-- Comment Filters -->
                <div class="comment-filters">
                    <label for="sort">Sorter efter:</label>
                    <select id="sort" name="sort">
                        <option value="newest" selected>Nyeste</option>
                        <option value="oldest">Ældste</option>
                        <option value="oldest">Rating</option>
                    </select>
                </div>

                <!-- Comments List -->
                <div class="comments-list">

                    <!-- Comment -->
                    <div class="comment">
                        <div class="comment-header">
                            <span class="comment-author">Mette L.</span>
                            <span class="comment-date">25/12-2025</span>
                        </div>
                        <div class="comment-body">
                            Virkelig lækre chips! Konsistensen var perfekt, og smagen passede lige til min aftenhygge.
                        </div>
                        <div class="comment-rating">
                            <span class="comment-total-intro">Samlet vurdering</span>
                            <span class="comment-total-rating">4.7 / 5.0</span>
                            <div class="rating-bar">
                                <div class="rating-fill" value="4.7"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->

                    <!-- Comment -->
                    <div class="comment">
                        <div class="comment-header">
                            <span class="comment-author">Mette L.</span>
                            <span class="comment-date">25/12-2025</span>
                        </div>
                        <div class="comment-body">
                            Virkelig lækre chips! Konsistensen var perfekt, og smagen passede lige til min aftenhygge.
                        </div>
                        <div class="comment-rating">
                            <span class="comment-total-intro">Samlet vurdering</span>
                            <span class="comment-total-rating">3.2 / 5.0</span>
                            <div class="rating-bar">
                                <div class="rating-fill" value="3.2"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->

                    <!-- Comment -->
                    <div class="comment">
                        <div class="comment-header">
                            <span class="comment-author">Mette L.</span>
                            <span class="comment-date">25/12-2025</span>
                        </div>
                        <div class="comment-body">
                            Virkelig lækre chips! Konsistensen var perfekt, og smagen passede lige til min aftenhygge.
                        </div>
                        <div class="comment-rating">
                            <span class="comment-total-intro">Samlet vurdering</span>
                            <span class="comment-total-rating">1.9 / 5.0</span>
                            <div class="rating-bar">
                                <div class="rating-fill" value="1.9"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->

                    <!-- Comment -->
                    <div class="comment">
                        <div class="comment-header">
                            <span class="comment-author">Mette L.</span>
                            <span class="comment-date">25/12-2025</span>
                        </div>
                        <div class="comment-body">
                            Virkelig lækre chips! Konsistensen var perfekt, og smagen passede lige til min aftenhygge.
                        </div>
                        <div class="comment-rating">
                            <span class="comment-total-intro">Samlet vurdering</span>
                            <span class="comment-total-rating">2.3 / 5.0</span>
                            <div class="rating-bar">
                                <div class="rating-fill" value="2.3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->

                </div>

                <!-- Load More Button -->
                <div class="load-more-wrapper">
                    <button class="btn-load-more">Load flere</button>
                </div>

            </div>
            <!-- Comment Section -->

        </div>

    </div>
    <!-- Right -->

</section>
<!-- Product Review Section -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>