<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Consumr - slogan her</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/logo-256-white.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/logo-256-white.png">

    <!-- Framework Load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Script Load-->
    <script src="/js/notification.js" defer></script>
    <script src="/js/circle-movement.js" defer></script>
    <script src="/js/guacamoleboy-dropdown.js" defer></script>
    <script src="/js/review/rating-load.js" defer></script>

    <!-- Modules -->
    <script type="module" src="/js/components/header.js" defer></script>

</head>
<body>

<!-- Header Load -->
<div id="header-component"></div>
<!-- Header Load -->

<!-- Product Review Section -->
<section class="section-product-review">

    <!-- Left -->
    <div class="product-review-left">
        <img src="/images/products/test4.png" class="product-review-main">

        <div class="more-photos-preview">
            <img src="/images/products/test4.png" class="more-photos-img">
            <img src="/images/products/test4.png" class="more-photos-img">
            <img src="/images/products/test4.png" class="more-photos-img">
        </div>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="product-review-right">

        <div class="product-info">

            <!-- Product Specific Information -->
            <p class="category">Mad / Chips</p>
            <h2 class="product-title">Kims Ostepops</h2>
            <p class="description">Delikat ostepop som vi alle kender den - ostet, knasende og lækker!</p>
            <!-- Product Specific Information -->

            <!-- Badges -->
            <p class="badge badge-popular">Populær</p>
            <p class="badge badge-justAdded">Lige tilføjet</p>
            <!-- Badges -->

            <!-- Rating -->
            <div class="ratings">
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Smag</span>
                        <span class="rating-value">2.3 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="2.3"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Ville købe igen</span>
                        <span class="rating-value">4.7 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="4.7"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Pris</span>
                        <span class="rating-value">1.7 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="1.7"></div>
                    </div>
                </div>
                <div class="rating-item">
                    <div class="rating-header">
                        <span class="rating-label">Emballage</span>
                        <span class="rating-value">3.4 / 5</span>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-fill" value="3.4"></div>
                    </div>
                </div>
            </div>
            <!-- Rating -->

            <!-- Total Reviews -->
            <p class="total-reviews"><i class="fa fa-user-o"></i> 37 anmeldelser</p>
            <div class="button-wrapper-product">
                <button class="btn-review">Skriv din anmeldelse</button>
            </div>
            <!-- Total Reviews -->

            <!-- Featured Review -->
            <div class="featured-review">
                <p class="featured-newest">Nyeste kommentar</p>
                <p class="featured-text">“Super lækre og sprøde – bliver min nye snackfavorit!”</p>
                <p class="featured-author">- Anna Narkomansen</p>
            </div>
            <!-- Featured Review -->

        </div>

        <!-- Buttons -->
        <div class="button-wrapper-product">
            <button class="btn-comments">Læs alle kommentarer</button>
        </div>

    </div>
    <!-- Right -->

</section>

<!-- Product Review Section -->

<!-- Comments Section -->
<section class="product-review-comments">

</section>
<!-- Comments Section -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>