<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Consumr - My profile</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/logo-256-white.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/logo-256-white.png">

    <!-- Framework Load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Script Load-->
    <script src="/js/notification.js" defer></script>
    <script src="/js/auth/pathing-redirect.js" defer></script>
    <script src="/js/bubble-spawn.js" defer></script>
    <script src="/js/circle-movement.js" defer></script>
    <script src="/js/guacamoleboy-dropdown.js" defer></script>

    <!-- Modules -->
    <script type="module" src="/js/components/header.js" defer></script>

</head>
<body>

<!-- Header Load -->
<div id="header-component"></div>
<!-- Header Load -->

<!-- My Profile Section -->
<section class="section-consumr-login">
    <div class="guac-container guac-login-wrapper guac-animate guac-fade-in">
        <div class="guac-row guac-justify-center">
            <h2 style="color: #FFF">Under udvikling</h2>
        </div>
    </div>
</section>
<!-- My Profile Section -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>